@import "libs/reset-css.scss";
@import "libs/variable.scss";
@import "libs/mixin.scss";
@import "libs/fonction.scss";
@import "libs/keyframes.scss";


/* général */


body {
    @include Flexbox(column,center,center);   
    width: 100%;
    background-color: $white-grey-black;    
}
    

.btn {
    height: 50px;    
    max-width: 220px;
    border-radius: 25px;
    margin:30px;
    padding: 15px 20px;    
    background: $gradient-btn;
    border: none;
    box-shadow: $btn-shadow;    
    cursor: pointer;
    @include Roboto(500,rem(16),white);    
    &:hover {
        animation: btn 100ms ease-in-out forwards;
    }    
}

.title-homepage {
    @include Roboto(700,rem(24),black); 
    margin: 0 0 25px 0;
}

.loader-page {  
    background-color: $lighter-grey;      
    width: 100%;
    height: 100%;    
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0; 
    @include Flexbox(row,center,center);
    align-items: center;
    z-index: 4;
    animation: invisible 3700ms 50ms ease-out forwards;
}


.letter {
    @include Shrikhand(em(48),$primary-color);   
    letter-spacing: 7px;
    animation : flash 1200ms ease-out 3 forwards; 
}


.letter:nth-child(1) {
    animation-delay: 100ms;
}
.letter:nth-child(2) {
    animation-delay: 225ms;    
}
.letter:nth-child(3) {
    animation-delay: 350ms;
}
.letter:nth-child(4) {
    animation-delay: 475ms;
}
.letter:nth-child(5) {
    animation-delay: 600ms;
}
.letter:nth-child(6) {
    animation-delay: 725ms;
}
.letter:nth-child(7) {
    animation-delay: 850ms;
}
.letter:nth-child(8) {
    animation-delay: 975ms;
}


/* header */


header {
    @include Flexbox(row,center,center);    
    height: 63px;
}

/* form*/


.form-search {
    @include Flexbox(row,center,center);
    align-items: center;
    height: 50px;
    background: $gradient-form;
    box-shadow: $form-shadow;
    position: relative;
    z-index: 1;
    .form {
        @include Flexbox(row,center,center);
        gap: 3px;

        .fa-location-dot {
            color: $dark-grey;
        }

        input {   
            text-align: center;         
            @include Roboto(500,rem(16),$dark-grey);            
            &::placeholder {
                @include Roboto(500,rem(16),$dark-grey); 
            }
        }
        
    }
}

/* title */

.titles { 
   text-align: center;
   padding:30px;
   background: $lighter-grey;  
   z-index: 0; 
   h1 {
    @include Roboto(700,rem(24),black);
    padding: 14px 0;
   }   
   h2 {
    @include Roboto(300,rem(18),$dark-grey);

   }
}
    



/* info */
.fa-style-grey {
    color: $medium-grey ;
    margin-left: 50px;
}
.fa-style-violet {
    color: $primary-color;
    margin-left: 50px;
}


.info {
    margin: 45px 20px 40px;
    @include Flexbox(column,center,center);
    
}

.info-cards {
    @include Flexbox(column,center,center);    
    gap: 20px;
    
    .card {
        @include Flexbox(row,left,center);        
        align-items: center;
        margin-left: 10px;
        gap: 20px;  
        height: 72px;
        width: 100%;
        background: $lighter-grey;
        border-radius: 20px;
        box-shadow: $card-shadow;         
        position: relative;
        z-index: 0; 

        h3 {
            @include Roboto(500,rem(16),black);
        }  
    }
    

    .bulle {
        @include Roboto(400,rem(14),white); 
        text-align: center;        
        padding: 3px 8px; 
        background-color: $primary-color;
        border-radius: 50%;
        border:none;
        position: absolute;
        z-index: 1;
        left: -10px;
        top: 25px;
    }
    
}



/* restaurants*/


.restaurants {
    background: $lighter-grey;
    padding: 45px 18px 65px;
}

.restaurants-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 18px;
    

    .card {
        @include Flexbox(column,left,center);
        gap: 16px;        
        width: 100%;
        border-radius: 15px;
        background: $white-grey-black;
        box-shadow: $card-menu-shadow;
        @include Roboto(500,rem(16),black);  
        position: relative;                          
    }

    .card .badge {
            position: absolute;
            right: 15px;
            top: 15px;
            z-index: 1;
            width: 80px;
            height: 30px;             
            text-align: center;
            align-content: center;
            background: $third-color;
            @include Roboto(500,rem(14),darken($third-color, 35));
            
        }

    
    .card img {        
        width: 100%;
        height: 231px;
        border-radius: 15px 15px 0 0;
        object-fit: cover;
    }
    
    .card .card-content {
    @include Flexbox(row,space-between,center);
    width: 100%;
    padding: 0 25px 15px 13px;   
    height: calc(100% - 231px);

        .card-txt {
            gap:5px;
            @include Flexbox(column,center,center);          
            .card-title {
                @include Roboto(500,rem(18),black);
            }

            .card-subtitle {
                @include Roboto(300,rem(17),$dark-grey);
            }
        }   
        
        .heart-favicon {
                @include heart-favicon-large;  
            }
            
        
        #favoris1:hover {
                @include heart-favicon-large-2; 
            }  

         #favoris2:hover {
                @include heart-favicon-large-2; 
            }  

         #favoris3:hover {
                @include heart-favicon-large-2; 
            }  

        #favoris4:hover {
                @include heart-favicon-large-2; 
            }   
    }
}


/* footer*/

footer {


@include Flexbox(column,center,flex-start); 
gap: 16px;
background: $dark-grey;
padding: 22px 25px;
color: $white-grey-black;
   
    h2 {
    @include Shrikhand(rem(18), white);
    
    }

    .link {
    @include Flexbox(column,center,flex-start); 
    gap: 10px; 

    a {
        @include Flexbox(row,flex-start,center); 
        align-items: center
    }

    h3 {
        @include Roboto(500,rem(16),white);
    }

    .fa-style {
        margin-right: 10px;
    }
    }

    .slim-link {
        @include Flexbox(column,center,flex-start);
        gap: 10px;
        @include Roboto(400,rem(16),white);   
       }  

    

}

/* Pages restaurants/menus*/

.restaurants-header {    
    @include Flexbox(row-reverse,center,center);
    align-items: center;           
    nav { 
        position: absolute;
        left: 17px;
    }
        
}


.restaurants-main {
    background-color: $lighter-grey;
    @include Flexbox(column,center,center);  
    align-items: center;
}

.banner {        
    width: 100%;  
    img {
    width: 100%; 
    height: 275px;
    object-fit: cover; 
    }
}


.menu { 
    @include Flexbox(column,center,center);
    width: 100%;
    background: $lighter-grey;
    padding: 35px 15px 0 15px;
    border-radius: 40px 40px 0 0 ;
    position :relative;
    top: -40px;  
    gap: 40px;
    .btn {
        align-self: center;
        margin: 0;
    }
    
    .title {
        @include Flexbox(row,space-between,center);
        margin-right:10px;        
    
        h2 {
            @include Shrikhand (rem(28),black);           
        }
    
        .heart-favicon {
            @include heart-favicon-xlarge;  
        }
    
        input:checked + label {
            @include heart-favicon-xlarge-2; 
        }   

    }
    
    .menu-title {
        text-transform: uppercase; 
        padding-bottom: 5px;
        width: 80px;
        @include border-menu; 
        
        h3 {
            @include Roboto(300,rem(16),black);
        }
    }

}




.menu-cards-1, .menu-cards-2, .menu-cards-3 {
    @include Flexbox(column,center,center);
    gap: 12px;
    
    
    .card {
        @include Flexbox(column,left,center);
        width: 100%;        
        border-radius: 15px;
        background: $white-grey-black;
        box-shadow: $card-menu-shadow;
        opacity: 0;
        cursor: pointer;
        animation: pop 2000ms  ease-in-out forwards;
    }

      
    .card .card-content {
    @include Flexbox(row,space-between,center);     
    position: relative;   
    width: 100%;
    height: 76px;
    padding: 15px;
    gap:5px;
    &:active {
        .checked-meal { 
        @include Flexbox(row,center,center); 
        align-items: center;
        background: $third-color;        
        font-size: x-large;        
        color: $white-grey-black;        
        border-radius: 0 15px 15px 0;
        animation: btn-checked 300ms ease-in-out forwards;           
        }      
        }             

        .card-txt {
            width: 100%;                    
            @include Flexbox(column,space-between,center); 
            gap:5px;  
            overflow:hidden ;

            .card-title {
                @include Roboto(500,rem(18),black);
                white-space: nowrap;
                text-overflow: ellipsis

            }

            .card-subtitle {
                @include Roboto(300,rem(15),black);
                 white-space: nowrap;
                 text-overflow: ellipsis;                
            }
        }  
        .price {  
            @include Roboto(700,rem(15),black); 
            @include Flexbox(row,center,center);
            align-self: flex-end; 
        }

        .checked-meal {
            display:none; 
            margin-top: -15px;
            margin-right: -15px;
            margin-left: 3px;
            height: 76px;
        } 
          
    }

    .btn {
        display: block;
        align-self: center;
        margin-bottom: 0;
    }
}

.menu-cards-1 .card:nth-of-type(-n+4) {
    animation-delay: 100ms;}

.menu-cards-2 .card:nth-of-type(-n+3) {
    animation-delay: 700ms;}

.menu-cards-3 .card:nth-of-type(-n+3) {
    animation-delay: 1300ms;}


@media only screen and (min-width:767.9px)  {
    
    .menu {
       
        width: 70%;
    }

    .info-cards {
        @include Flexbox(row,center,center);
        gap: 30px;
    }
    
    
    .restaurants-cards {
        grid-template-columns: 1fr 1fr; 
    }

    footer {
        @include Flexbox(row-reverse,flex-start,center);
        align-items: center;
        padding: 30px 40px 30px 25px;
        gap: 40px;

        .link {
            @include Flexbox(row,center,center);
            gap: 15px;         
        }    
        
        .slim-link {
            @include Flexbox(row,center,flex-start);
            margin-left: 20px;
        
        }

    }

}   
    

