@import "libs/reset-css.scss";
@import "libs/responsive.scss";
@import "libs/variable.scss";
@import "libs/mixin.scss";
@import "libs/fonction.scss";
@import "libs/keyframes.scss";


/* général */

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}


body {
    @include Flexbox(column,center,center);   
    width: 100%;
    background-color: $white-grey-black;    
}
    

.btn {
    height: 50px;
    min-width: 207px;
    max-width: 220px;
    border-radius: 25px;
    margin:30px;
    padding: 15px;
    background: $gradient-btn;
    border: none;
    box-shadow: $btn-shadow;
    @include Roboto(500,rem(16),white);    
    &:hover {
        animation: btn 100ms forwards;
    }    
}

.title-homepage {
    @include Roboto(700,rem(24),black); 
    margin: 0 0 25px 0;
}

.loader-page {   
    background-color: $lighter-grey;      
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0; 
    @include Flexbox(row,center,center);
    align-items: center;
    z-index: 4;
    animation: invisible 3700ms forwards;
}


.letter {
    @include Shrikhand(em(48),$primary-color);   
    letter-spacing: 7px;
    animation : flash 1200ms linear 3 forwards;   

}


.letter:nth-child(1) {
    animation-delay: 100ms;
}
.letter:nth-child(2) {
    animation-delay: 225ms;    
}
.letter:nth-child(3) {
    animation-delay: 350ms;
}
.letter:nth-child(4) {
    animation-delay: 475ms;
}
.letter:nth-child(5) {
    animation-delay: 600ms;
}
.letter:nth-child(6) {
    animation-delay: 725ms;
}
.letter:nth-child(7) {
    animation-delay: 850ms;
}
.letter:nth-child(8) {
    animation-delay: 975ms;
}


/* header */


header {
    @include Flexbox(row,center,center);    
    height: 63px;
}

/* form*/


.form-search {
    @include Flexbox(row,center,center);
    align-items: center;
    height: 50px;
    background: $gradient-form;
    box-shadow: $form-shadow;
    position: relative;
    z-index: 1;
    .form {
        @include Flexbox(row,center,center);
        gap: 3px;

        .fa-location-dot {
            color: $dark-grey;
        }

        input {   
            text-align: center;         
            @include Roboto(500,rem(16),$dark-grey);            
            &::placeholder {
                @include Roboto(500,rem(16),$dark-grey); 
            }
        }
        
    }
}

/* title */

.titles { 
   text-align: center;
   padding:30px;
   background: $lighter-grey;  
   z-index: 0; 
   h1 {
    @include Roboto(700,rem(24),black);
    padding: 14px 0;
   }   
   h2 {
    @include Roboto(300,rem(18),$dark-grey);

   }
}
    



/* info */
.fa-style-grey {
    color: $medium-grey ;
    margin-left: 50px;
}
.fa-style-violet {
    color: $primary-color;
    margin-left: 50px;
}


.info {
    margin: 45px 20px 40px;
    @include Flexbox(column,center,center);
    
}

.info-cards {
    @include Flexbox(column,center,center);    
    gap: 20px;
    
    .card {
        @include Flexbox(row,left,center);        
        align-items: center;
        gap: 20px;  
        height: 72px;
        width: 100%;
        background: $lighter-grey;
        border-radius: 20px;
        box-shadow: $card-shadow;
        @include Roboto(500,rem(16),black); 
        position: relative;
        z-index: 0;             
    }
    
    .bulle {
        @include Roboto(400,rem(12),white); 
        text-align: center;        
        padding: 3px;    
        height: 20px;
        width: 20px;
        background-color: $primary-color;
        border-radius: 50%;
        border:none;
        position: absolute;
        z-index: 1;
        left: -1%;
        top: 35%;
    }
    
}



/* restaurants*/


.restaurants {
    background: $lighter-grey;
    padding: 45px 18px 65px;
}

.restaurants-cards {
    display: grid;
    grid-column: 1fr;
    gap: 18px;
    

    .card {
        @include Flexbox(column,left,center);
        gap: 16px;        
        width: 100%;
        border-radius: 15px;
        background: $white-grey-black;
        box-shadow: $card-menu-shadow;
        @include Roboto(500,rem(16),black);  
        position: relative;                          
    }

    .card .badge {
            position: absolute;
            left: 80%;
            top: 7%;
            z-index: 1;
            width: 80px;
            height: 30px;             
            text-align: center;
            align-content: center;
            background: $third-color;
            @include Roboto(500,rem(14),darken($third-color, 35));
            
        }

    
    .card img {        
        width: 100%;
        height: 231px;
        border-radius: 15px 15px 0 0;
        object-fit: cover;
    }
    
    .card .card-content {
    @include Flexbox(row,space-between,center);
    width: 100%;
    padding: 0 25px 15px 13px;   
    height: calc(100% - 231px);

        .card-txt {
            gap:5px;
            @include Flexbox(column,center,center);          
            .card-title {
                @include Roboto(500,rem(18),black);
            }

            .card-subtitle {
                @include Roboto(300,rem(17),$dark-grey);
            }
        }   
        .card-heart {
            .heart-favicon {
                @include heart-favicon-medium;  
            }
            
        
            input#favoris1:checked + label {
                @include heart-favicon-medium-2; 
            }  

            input#favoris2:checked + label {
                @include heart-favicon-medium-2; 
            }  

            input#favoris3:checked + label {
                @include heart-favicon-medium-2; 
            }  

            input#favoris4:checked + label {
                @include heart-favicon-medium-2; 
            }  
        
        }  
       
    }
}


/* footer*/

footer {
    /*
position: absolute;
bottom: 0; right: 0; left: 0;*/

@include Flexbox(column,center,flex-start); 
gap: 18px;
background: $dark-grey;
padding: 30px 18px 40px;
@include Roboto(500,rem(16),white);
   
    h2 {
    @include Shrikhand(rem(18), white);
    }

    .link {
    @include Flexbox(column,center,flex-start); 
    gap: 8px; 

    .fa-style {
        margin-right: 10px;
    }
   
    .light-link {
        @include Roboto(400,rem(16),white);   
       }  

    }

}

/* Pages restaurants*/

.restaurants-header {
    @include Flexbox(row-reverse,center,center);
    gap: 40px;
    align-items: center;
}

.restaurants-main {
    background-color: $lighter-grey;
    @include Flexbox(column,center,center);  
    align-items: center;
}

.banner {        
    width: 100%;    
    position: relative; 
   
    img {
    width: 100%; 
    height: 275px;
    object-fit: cover; 
    }
}


.menu {    
    background: $lighter-grey;
    padding: 35px 15px 0 15px;
    border-radius: 50px 50px 0 0 ;
    position :relative;
    top: -50px;    
    
    .menu-title {
        @include Roboto(300,rem(16),black);
        text-transform: uppercase; 
        padding-bottom: 10px;
        width: 80px;
        @include border-menu;        
    }
        
}

.menu .title {
    @include Flexbox(row,space-between,center);
    margin-right:20px;
    padding-bottom: 40px;

    h2 {
        @include Shrikhand (rem(28),black);
    }

    .heart-favicon {
        @include heart-favicon-large;  
    }

    input:checked + label {
        @include heart-favicon-large-2; 
    }   
}


.menu-cards {
    @include Flexbox(column,center,center);
    gap: 18px;
    
    .card {
        @include Flexbox(column,left,center);        
        gap: 12px;        
        width: 100%;        
        border-radius: 15px;
        background: $white-grey-black;
        box-shadow: $card-menu-shadow;
        opacity: 0;
        animation: pop 2000ms  ease-in-out forwards;
    }

    .card:nth-child(2) {
        animation-delay: 100ms;
    }
    .card:nth-child(3) {
        animation-delay: 100ms;    
    }
    .card:nth-child(4) {
        animation-delay: 100ms;
    }
    .card:nth-child(6) {
        animation-delay: 700ms;
    }
    .card:nth-child(7) {
        animation-delay: 700ms;
    }
    .card:nth-child(8) {
        animation-delay: 700ms;
    }
    .card:nth-child(10) {
        animation-delay: 1300ms;
    }
    .card:nth-child(11) {
        animation-delay: 1300ms;
    }
    .card:nth-child(12) {
        animation-delay: 1300ms;
    }



   
    .card .card-content {
    @include Flexbox(row,space-between,center);     
    position: relative;   
    width: 100%;
    height: 72px;
    padding: 15px;
    gap:5px; 
    &:active {
        .checked-meal {
        visibility: visible;  
        position: absolute;
        right:0;
        top: 0;        
        height: 100%;
        @include Flexbox(row,center,center); 
        align-items: center;
        background: $third-color;        
        font-size: x-large;        
        color: $white-grey-black;        
        border-radius: 0 15px 15px 0;
        animation: btn-checked 300ms forwards;           
        }
        .price {  
            animation: transform 300ms;           
            transform: translateX(-100%);
            position: absolute;
            bottom: 9px;
            left: 82%;
        }
        }             

        .card-txt {
            width: 75%;                    
            @include Flexbox(column,space-between,center); 
            gap:5px;    

            .card-title {
                @include Roboto(500,rem(18),black);
            }

            .card-subtitle {
                @include Roboto(300,rem(15),black);
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }  
        .price {  
            @include Roboto(700,rem(15),black);                     
            padding: 5px; 
            position: absolute; 
            bottom: 9px;
            left: 88%; 
        }
        .checked-meal {
            visibility: hidden; 
        } 
          
    }

    .btn {
        display: block;
        align-self: center;
        margin-bottom: 0;
    }
}


@media only screen and (min-width:1024px)  {

    .menu {
       
        width: 70%;
    }

    .info-cards {
        @include Flexbox(row,center,center);
        gap: 30px;
    }
    
    
    .restaurants-cards {
        grid-template-columns: 1fr 1fr; 
    }

    footer {
        @include Flexbox(row-reverse,flex-start,center);
        align-items: center;
        padding-right: 40px;
        gap: 20px;

        .link {
            @include Flexbox(row,center,center);
            gap: 10px;         
        }        

    }

}   
    

