@charset "UTF-8";
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  all: unset;
}

/*fonts
light: 300 
regular: 400 
medium: 500 
bold: 700 
*/
/* colors
 pourcentage pour couleurs grises 
 gris très clair #F6F6F6 = 3.5%
 gris clair #EAEAEA = 8.2%
 gris moyen #7E7E7E = 50.6%
 gris foncé #353535 = 79.2%
 gris coeur #101010 = 93.7%
 gris shadow-btn #bfbfbf = 25%
 gris shadow-card #d9d9d9 = 15%
 gris shadow-menu #e5e5e5 = 10%
*/
/* shadows*/
/*Position menu par rappoort à bannière*/
@keyframes btn {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.02);
    opacity: 0.85;
  }
}
/*menu checked*/
@keyframes btn-checked {
  from {
    width: 0;
  }
  to {
    width: 30%;
  }
}
/*loader*/
@keyframes invisible {
  0% {
    opacity: 1;
  }
  95% {
    opacity: 1;
    width: 100%;
    height: 100%;
  }
  98% {
    opacity: 0.8;
    width: 100%;
    height: 0%;
  }
  100% {
    opacity: 0;
    width: 0;
    height: 0;
  }
}
@keyframes flash {
  0% {
    color: #FF79DA;
    text-shadow: 0 0 7px #FF79DA;
  }
  90% {
    color: #9356DC;
    text-shadow: none;
  }
  100% {
    color: #FF79DA;
    text-shadow: 0 0 7px #FF79DA;
  }
}
/*card menu*/
@keyframes pop {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
/*heart*/
@keyframes fill-heart {
  0% {
    background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    height: 0;
  }
  100% {
    background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 1;
    height: 100%;
  }
}
/* COMMUN */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
  background-color: white;
}

.btn {
  height: 50px;
  max-width: 220px;
  border-radius: 25px;
  margin: 25px;
  padding: 15px 20px;
  background: linear-gradient(178deg, #FF79DA -11%, #9356DC 127%);
  border: none;
  box-shadow: 0px 4px 10px 0px #bfbfbf;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: white;
}
.btn:hover {
  animation: btn 100ms ease-in-out forwards;
  box-shadow: 0px 4px 10px 0px #999999;
}

/*loader*/
.loader-page {
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-size: 1em;
  color: #9356DC;
  background-color: #f6f6f6;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  z-index: 4;
  animation: invisible 3.6s ease-out forwards;
}

.letter {
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-size: 3em;
  color: #9356DC;
  letter-spacing: 7px;
  animation: flash 1200ms ease-out infinite forwards;
}

.letter:nth-child(1) {
  animation-delay: 100ms;
}

.letter:nth-child(2) {
  animation-delay: 225ms;
}

.letter:nth-child(3) {
  animation-delay: 350ms;
}

.letter:nth-child(4) {
  animation-delay: 475ms;
}

.letter:nth-child(5) {
  animation-delay: 600ms;
}

.letter:nth-child(6) {
  animation-delay: 725ms;
}

.letter:nth-child(7) {
  animation-delay: 850ms;
}

.letter:nth-child(8) {
  animation-delay: 975ms;
}

/* footer*/
footer {
  position: relative;
  top: -40px;
  margin-bottom: -40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
  gap: 16px;
  background: #353535;
  padding: 22px 25px;
  color: white;
}
footer h2 {
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-size: 1.125rem;
  color: white;
}
footer .link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
  gap: 10px;
}
footer .link a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}
footer .link h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: white;
}
footer .link .fa-style {
  margin-right: 10px;
}
footer .slim-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
  gap: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: white;
}

/*PAGE INDEX-ACCUEIL*/
/* header */
header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 63px;
}
header img {
  height: 34px;
  width: 162px;
}

/* main */
.title-homepage {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: black;
  margin: 0 0 25px 0;
}

/* form*/
.form-search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 50px;
  background: linear-gradient(180deg, #d9d9d9, #eaeaea 5%);
  box-shadow: 0px 4px 4px 0px #d9d9d9;
  position: relative;
  z-index: 1;
}
.form-search .form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  gap: 3px;
}
.form-search .form .fa-location-dot {
  color: #353535;
}
.form-search .form input {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: #353535;
}
.form-search .form input::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: #353535;
}

/* titles */
.titles {
  text-align: center;
  padding: 30px;
  background: #f6f6f6;
  z-index: 0;
}
.titles h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: black;
  margin: 14px 0;
}
.titles h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.125rem;
  color: #353535;
  margin: 10px 0;
}

/* info */
.fa-style-grey {
  color: #7e7e7e;
  margin-left: 15%;
}

.fa-style-violet {
  color: #9356DC;
  margin-left: 15%;
}

.info {
  margin: 45px 20px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.info-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 24px;
}
.info-cards .card {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-content: center;
  align-items: center;
  margin-left: 10px;
  gap: 20px;
  height: 72px;
  width: calc(100% - 10px);
  background: #f6f6f6;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px #d9d9d9;
  position: relative;
  z-index: 0;
}
.info-cards .card h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: black;
}
.info-cards .bulle {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  color: white;
  text-align: center;
  padding: 3px 8px;
  background-color: #9356DC;
  border-radius: 50%;
  border: none;
  position: absolute;
  z-index: 1;
  left: -10px;
  top: 25px;
}

/* restaurants-cards */
.restaurants {
  background: #f6f6f6;
  padding: 45px 18px 105px;
}

.restaurants-cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 18px;
}
.restaurants-cards .card {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-content: center;
  gap: 16px;
  width: 100%;
  border-radius: 15px;
  background: white;
  box-shadow: 0px 4px 15px 0px #e6e6e6;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: black;
  position: relative;
}
.restaurants-cards .card .badge {
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 1;
  width: 80px;
  height: 30px;
  text-align: center;
  align-content: center;
  background: #99E2D0;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  color: #008766;
}
.restaurants-cards .card img {
  width: 100%;
  height: 231px;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}
.restaurants-cards .card .card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  padding: 0 25px 15px 13px;
  height: calc(100% - 231px);
}
.restaurants-cards .card .card-content .card-txt {
  gap: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.restaurants-cards .card .card-content .card-txt .card-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  color: black;
}
.restaurants-cards .card .card-content .card-txt .card-subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.0625rem;
  color: black;
}
.restaurants-cards .card .card-content .heart-favicon::before {
  font-family: "Font Awesome 6 Free";
  content: "\f004";
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-size: x-large;
  -webkit-font-smoothing: antialiased;
  color: #101010;
  cursor: pointer;
}
.restaurants-cards .card .card-content #favoris1:hover::before {
  font-family: "Font Awesome 6 Free";
  content: "\f004";
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-size: x-large;
  -webkit-font-smoothing: antialiased;
  font-weight: 800;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  cursor: pointer;
  animation: fill-heart 600ms ease-in-out forwards;
}
.restaurants-cards .card .card-content #favoris2:hover::before {
  font-family: "Font Awesome 6 Free";
  content: "\f004";
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-size: x-large;
  -webkit-font-smoothing: antialiased;
  font-weight: 800;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  cursor: pointer;
  animation: fill-heart 600ms ease-in-out forwards;
}
.restaurants-cards .card .card-content #favoris3:hover::before {
  font-family: "Font Awesome 6 Free";
  content: "\f004";
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-size: x-large;
  -webkit-font-smoothing: antialiased;
  font-weight: 800;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  cursor: pointer;
  animation: fill-heart 600ms ease-in-out forwards;
}
.restaurants-cards .card .card-content #favoris4:hover::before {
  font-family: "Font Awesome 6 Free";
  content: "\f004";
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-size: x-large;
  -webkit-font-smoothing: antialiased;
  font-weight: 800;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  cursor: pointer;
  animation: fill-heart 600ms ease-in-out forwards;
}

/* PAGES RESTAURANTS-MENUS */
/*header*/
.restaurants-header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 63px;
}
.restaurants-header img {
  height: 34px;
  width: 162px;
}
.restaurants-header nav {
  position: absolute;
  left: 17px;
}

.restaurants-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.banner {
  width: 100%;
}
.banner img {
  width: 100%;
  height: 275px;
  object-fit: cover;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
  background: #f6f6f6;
  padding: 35px 15px 40px 15px;
  border-radius: 40px 40px 0 0;
  position: relative;
  top: -40px;
  gap: 40px;
}
.menu .btn {
  align-self: center;
  margin: 0;
}
.menu .title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  margin-right: 10px;
}
.menu .title h2 {
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-size: 1.75rem;
  color: black;
}
.menu .title .heart-favicon::before {
  font-family: "Font Awesome 6 Free";
  content: "\f004";
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-size: xx-large;
  -webkit-font-smoothing: antialiased;
  color: #101010;
  cursor: pointer;
}
.menu .title input:checked + label::before {
  font-family: "Font Awesome 6 Free";
  content: "\f004";
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-size: xx-large;
  -webkit-font-smoothing: antialiased;
  font-weight: 800;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  cursor: pointer;
  animation: fill-heart 600ms ease-in-out forwards;
}
.menu .menu-title {
  text-transform: uppercase;
}
.menu .menu-title::after {
  content: "";
  margin-top: 5px;
  border-top: 3px solid #99E2D0;
  width: 40px;
  display: block;
}
.menu .menu-title h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  color: black;
}

.menu-cards-1,
.menu-cards-2,
.menu-cards-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 12px;
}
.menu-cards-1 .card,
.menu-cards-2 .card,
.menu-cards-3 .card {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-content: center;
  width: 100%;
  border-radius: 15px;
  background: white;
  box-shadow: 0px 4px 15px 0px #e6e6e6;
  opacity: 0;
  cursor: pointer;
  animation: pop 2000ms ease-in-out forwards;
}
.menu-cards-1 .card .card-content,
.menu-cards-2 .card .card-content,
.menu-cards-3 .card .card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  position: relative;
  width: 100%;
  height: 76px;
  padding: 15px;
  gap: 5px;
}
.menu-cards-1 .card .card-content:active .checked-meal,
.menu-cards-2 .card .card-content:active .checked-meal,
.menu-cards-3 .card .card-content:active .checked-meal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  background: #99E2D0;
  font-size: x-large;
  color: white;
  border-radius: 0 15px 15px 0;
  animation: btn-checked 300ms ease-in-out forwards;
}
.menu-cards-1 .card .card-content .card-txt,
.menu-cards-2 .card .card-content .card-txt,
.menu-cards-3 .card .card-content .card-txt {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  gap: 5px;
  overflow: hidden;
}
.menu-cards-1 .card .card-content .card-txt .card-title,
.menu-cards-2 .card .card-content .card-txt .card-title,
.menu-cards-3 .card .card-content .card-txt .card-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  color: black;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu-cards-1 .card .card-content .card-txt .card-subtitle,
.menu-cards-2 .card .card-content .card-txt .card-subtitle,
.menu-cards-3 .card .card-content .card-txt .card-subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 0.9375rem;
  color: black;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu-cards-1 .card .card-content .price,
.menu-cards-2 .card .card-content .price,
.menu-cards-3 .card .card-content .price {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 0.9375rem;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-self: flex-end;
}
.menu-cards-1 .card .card-content .checked-meal,
.menu-cards-2 .card .card-content .checked-meal,
.menu-cards-3 .card .card-content .checked-meal {
  display: none;
  margin-top: -15px;
  margin-right: -15px;
  margin-left: 15px;
  height: 76px;
}

.menu-cards-1 .card:nth-of-type(-n+4) {
  animation-delay: 100ms;
}

.menu-cards-2 .card:nth-of-type(-n+3) {
  animation-delay: 700ms;
}

.menu-cards-3 .card:nth-of-type(-n+3) {
  animation-delay: 1300ms;
}

/* RESPONSIVE */
@media screen and (width >= 768px) {
  /*footer*/
  footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-content: center;
    align-items: flex-end;
    height: 115px;
    gap: 30px;
  }
  footer .link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap: 15px;
  }
  footer .slim-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    margin-left: 10px;
  }
  /*Page Index-Accueil*/
  header {
    height: 96px;
  }
  header img {
    width: 200px;
  }
  .form-search {
    box-shadow: none;
    background: #eaeaea;
  }
  .titles {
    padding: 16px;
  }
  .titles h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 1.75rem;
    color: black;
  }
  .titles h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 1.125rem;
    color: #353535;
    margin: 0;
  }
  .info {
    margin: 50px 5% 50px 5%;
  }
  .info-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap: 20px;
    padding: 10px;
  }
  .restaurants {
    padding: 30px 5% 70px 5%;
  }
  .restaurants-cards {
    grid-template-columns: 1fr 1fr;
  }
  /*Pages Restaurants-Menus*/
  .restaurants-header {
    height: 96px;
  }
  .restaurants-header img {
    width: 200px;
  }
  .menu {
    width: 90%;
  }
}
@media screen and (width >= 1024px) {
  .banner img {
    height: 380px;
    object-position: center 60%;
  }
  footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-content: center;
    align-items: flex-end;
    height: 115px;
    padding: 30px 70px 30px 40px;
    gap: 100px;
  }
  footer .slim-link {
    margin-left: 30px;
    gap: 15px;
  }
  /*Page Index-Accueil*/
  .titles h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    color: black;
  }
  .info {
    margin-left: 12.5%;
    margin-right: 12.5%;
  }
  .info-cards {
    gap: 30px;
  }
  .restaurants {
    padding-left: 12.5%;
    padding-right: 12.5%;
  }
  .restaurants-cards {
    row-gap: 50px;
    column-gap: 10%;
  }
  /*Pages Restaurants-Menus*/
  .menu {
    width: 75%;
    padding-left: 12.5%;
    padding-right: 12.5%;
  }
  .menu .title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
