@charset "UTF-8";
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  all: unset;
}

/*fonts
light: 300 
regular: 400 
medium: 500 
bold: 700 
*/
/* colors
 pourcentage pour couleurs grises 
 gris très clair #F6F6F6 = 3.5%
 gris clair #EAEAEA = 8.2%
 gris moyen #7E7E7E = 50.6%
 gris foncé #353535 = 79.2%
 gris coeur #101010 = 93.7%
 gris shadow-btn #bfbfbf = 25%
 gris shadow-card #d9d9d9 = 15%
 gris shadow-menu #e5e5e5 = 10%
*/
/* shadows*/
/*radius
card fonctionnement : 20px
btn : 25px
badge: 2px
*/
/* général */
* {
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  max-width: 767px;
  width: 100%;
  background-color: white;
}

.btn {
  height: 50px;
  min-width: 207px;
  max-width: 220px;
  border-radius: 25px;
  margin: 30px;
  padding: 15px;
  background: linear-gradient(170deg, #FF79DA, #9356DC 90%);
  border: none;
  box-shadow: 0px 4px 10px 0px #bfbfbf;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1em;
  color: white;
}

.title-homepage {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  color: black;
  margin: 0 0 25px 0;
}

/* header */
header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  height: 63px;
}

/* form*/
.form-search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 50px;
  background: linear-gradient(180deg, #d9d9d9, #eaeaea 5%);
  box-shadow: 0px 4px 4px 0px #d9d9d9;
  position: relative;
  z-index: 1;
}
.form-search .form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  gap: 3px;
}
.form-search .form .fa-location-dot {
  color: #353535;
}
.form-search .form input {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1em;
  color: #353535;
}
.form-search .form input::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1em;
  color: #353535;
}

/* title */
.titles {
  text-align: center;
  padding: 30px;
  background: #f6f6f6;
  z-index: 0;
}
.titles h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  color: black;
  padding: 14px 0;
}
.titles h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.125em;
  color: #353535;
}

/* info */
.fa-style-grey {
  color: #7e7e7e;
  margin-left: 50px;
}

.fa-style-violet {
  color: #9356DC;
  margin-left: 50px;
}

.info {
  margin: 45px 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.info-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.info-cards .card {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-content: center;
  align-items: center;
  gap: 20px;
  height: 72px;
  width: 100%;
  background: #f6f6f6;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px #d9d9d9;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1em;
  color: black;
  position: relative;
  z-index: 1;
}
.info-cards .bulle {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 0.75em;
  color: white;
  text-align: center;
  padding: 3px;
  height: 20px;
  width: 20px;
  background-color: #9356DC;
  border-radius: 50%;
  border: none;
  position: relative;
  z-index: 2;
  left: -8px;
  top: -48px;
}

/* restaurants*/
.restaurants {
  background: #f6f6f6;
  padding: 45px 18px 65px;
}

.restaurants-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 18px;
}
.restaurants-cards .card {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-content: center;
  gap: 16px;
  width: 100%;
  border-radius: 15px;
  background: white;
  box-shadow: 0px 4px 15px 0px #e6e6e6;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1em;
  color: black;
  position: relative;
}
.restaurants-cards .card .badge {
  position: absolute;
  left: 80%;
  top: 7%;
  z-index: 1;
  width: 80px;
  height: 30px;
  text-align: center;
  align-content: center;
  background: #99E2D0;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 0.875em;
  color: #2c9c81;
}
.restaurants-cards .card img {
  width: 100%;
  height: 231px;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}
.restaurants-cards .card .card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  padding: 0 25px 15px 13px;
  height: calc(100% - 231px);
}
.restaurants-cards .card .card-content .card-txt {
  gap: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.restaurants-cards .card .card-content .card-txt .card-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1.125em;
  color: black;
}
.restaurants-cards .card .card-content .card-txt .card-subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.0625em;
  color: #353535;
}
.restaurants-cards .card .card-content .card-heart {
  color: #101010;
}
.restaurants-cards .card .card-content .card-heart:hover {
  color: #9356DC;
}

/* footer*/
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
  gap: 18px;
  background: #353535;
  padding: 30px 18px 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1em;
  color: white;
}
footer h2 {
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-size: 1.125em;
  color: white;
}
footer .link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
  gap: 8px;
}
footer .link .fa-style {
  margin-right: 10px;
}
footer .link .light-link {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: white;
}

/* Pages restaurants*/
header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-content: center;
  gap: 40px;
  align-items: center;
}

section img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.menu {
  background: #f6f6f6;
  padding: 35px 15px;
  border-radius: 50px 50px 0 0;
  position: relative;
  top: -50px;
}
.menu h2 {
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-size: 1.125em;
  color: black;
}
.menu .card-heart {
  color: #101010;
}
.menu .card-heart:hover {
  color: #9356DC;
}
.menu .menu-title {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1em;
  color: black;
  text-transform: uppercase;
  padding-bottom: 10px;
  border-bottom: 3px solid #99E2D0;
}

.menu-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 18px;
}
.menu-cards .card {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-content: center;
  gap: 12px;
  width: 100%;
  border-radius: 15px;
  background: white;
  box-shadow: 0px 4px 15px 0px #e6e6e6;
}
.menu-cards .card .card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 0.9375em;
  color: black;
  width: 100%;
  padding: 15px;
}
.menu-cards .card .card-content .card-txt {
  gap: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.menu-cards .card .card-content .card-txt .card-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1.125em;
  color: black;
}
.menu-cards .card .card-content .card-txt .card-subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 0.9375em;
  color: black;
}

/*# sourceMappingURL=style.css.map */
